.row
{
    margin: 20px;
}
input
{
    align-content: right;
}

.colLeft
{
    align-content: left;
}
.main{
    align-content: center;
    margin-top: 30%;
    border: 2px solid blue;
    width: 70%;
    height: 60%;
    margin-left: 20%;
}
.btn1{
    margin-left: 10%;
}
.btn{
    margin-bottom: 3%;
}