<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<form style="text-align:center" class="main">
  <div class="row">
    <div class="col-sm-4">
      <label class="colLeft">Email ID: </label></div>
    <div class="col-sm-6">
      <input id="emailid" type="text" name="emailid" class="colRight"></div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <label class="colLeft">New Password: </label></div>
    <div class="col-sm-6">
      <input id="password" type="password" name="password" class="colRight"></div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <label class="colLeft">Confirm Password: </label></div>
    <div class="col-sm-6">
      <input  id="confirmPassword"  type="password" name="confirmPassword" class="colRight"></div>
  </div>

  <input type="submit" value="Submit"class="btn btn-success btn-md" name="" (click)="resetPassword()">

  <input type="submit" value="Cancel"class="btn btn1 btn-danger btn-md" name="" (click)="BackButton()">

</form>